table {
    width: 100%;
    color: black;
    background-color: yellow;
}

tr:hover {
    transition: 0.2s linear;
    color: yellow;
    background-color: black;
}

div {
    justify-content: space-between;
}
i:hover {
    cursor: pointer;
}